{% extends "base.html" %}

{% block content %}
<h2>لیست فاکتورها</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>نام مدرسه</th>
            <th>نام فروشگاه</th>
            <th>شرح خریدها</th>
            <th>مبلغ نهایی (تومان)</th>
        </tr>
    </thead>
    <tbody>
        {% for key, data in invoice_dict.items %}
            {% with school=key.0 store=key.1 %}
            <tr>
                <td>{{ school }}</td>
                <td>{{ store }}</td>
                <td>{{ data.descriptions }}</td>
                <td>{{ data.total_amount|floatformat:2 }}</td>
            </tr>
            {% endwith %}
        {% empty %}
            <tr>
                <td colspan="4">فاکتوری وجود ندارد.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<button onclick="window.print()">پرینت فاکتورها</button>
{% endblock %}
